
/* universal selector */

*{
    margin: 0;
    padding: 0;
}
body{
    font-family: Lato;
}
html, body {
    overflow-x: scroll;
}

/* header section styles */

.nav-container{
    display: flex;
    flex-shrink: 0;
    justify-content: space-around;
    align-items: center;
    padding: 16px;
    background-color: white;
    border-bottom:3px solid rgb(240, 108, 108);;
}
.logo-container{
    display: flex;
    justify-content:center;
    align-items: center;
    font-size: 40px;
    color: black;
}
.span-786{
    color: red;
    font-weight: 800;
    font-family: 'Fasthand', cursive;
}
.em-flower{
    color: #E55473;
    font-weight: 800;
    font-family: 'Fasthand', cursive;
}
.logo-head{
    width: 100px;
    align-items: center;
    padding-left:5px ;
}
.items{
    display: flex;
    list-style: none;
}
.item1{
    font-size: 35px;
    color: red;
    font-family: 'Fasthand', cursive;
    font-weight: bolder;
    margin-right: 10px;
    padding: 15px;
    text-decoration: none;
    cursor: pointer;
}
.item2{
    color: #E55473;
    font-family: 'Fasthand', cursive;
    font-size: 35px;
    font-weight: bolder;
    margin-right: 10px;
    padding: 15px;
    text-decoration: none;
    cursor: pointer;
}
.item3{
    font-size: 35px;
    color: red;
    font-family: 'Fasthand', cursive;
    font-weight: bolder;
    margin-right: 10px;
    padding: 15px;
    text-decoration: none;
    cursor: pointer;
}
.item4{
    font-size: 35px;
    color: #E55473;
    font-family: 'Fasthand', cursive;
    font-weight: bolder;
    margin-right: 10px;
    padding: 15px;
    text-decoration: none;
    cursor: pointer;
}

/* banner section styles */

.banner-container{
    width: auto;
    display: flex;
    flex-shrink: 0;
    background: rgba(229, 84, 115, 0.10);
    justify-content:space-between;
    align-items:center;
    text-align: justify;
    padding: 50px 50px 0px 50px ;
}
.intro-info{
   max-width: 500px;
   text-align: justify;
   padding-bottom: 0;
}
.banner-title{
    color: #272727;
    font-size: 50px;
    font-weight: 900;
    margin-bottom: 22px;
    font-weight: bolder;
}
.banner-desc{
    color: rgba(39, 39, 39, 0.60);
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 22px;
}
.shop-btn{
    font-size: 20px;
    font-weight: 700;
    display: inline-flex;
    padding: 20px 43px;
    align-items: flex-start;
    gap: 10px;
    border: 0;
    border-radius: 8px;
    background: #E55473;
    color: #FFF;
}
.banner-container .img-banner{
    max-width: 100%;
    max-height: 100%;
}

/* featured flower section styles */

.feature-section{
    width: auto;
    align-items:center;
    text-align: center;
}

.flower-title{
    color: #272727;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
    margin-top: 150px;
    margin-bottom: 20px;
}
.flower-desc{
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 50px;
}
.flowers-container{
    display: flex;
    flex-shrink: 0;
    gap: 30px;
    align-items: center;
    justify-content: center;
}
img{
    max-width: 100%;
    max-height: 100%;
}
.images-box1{
    width: 200px;
    height: 250px;
    flex-shrink: 0;
    border-radius: 300px 300px 0px 0px;
    background: rgba(167, 33, 98, 0.15);
    text-align: center;
    padding: 100px 40px 0 40px;
}
.images-box2{
    width: 200px;
    height: 250px;
    flex-shrink: 0;
    border-radius: 300px 300px 0px 0px;
    background: rgba(5, 151, 160, 0.15);
    text-align: center;
    padding: 100px 40px 0 40px;
}
.images-box3{
    width: 200px;
    height: 250px;
    flex-shrink:0;
    border-radius: 300px 300px 0px 0px;
    background: rgba(71, 125, 17, 0.15);
    text-align: center;
    padding: 100px 40px 0 40px;
}
.anchor1{
    font-size: 24px;
    font-weight: 700;
    line-height: 35px;
    text-decoration-line: underline;
    margin-top: 15px;
}
.anchor2{
    font-size: 24px;
    font-weight: 700;
    line-height: 35px;
    text-decoration-line: underline;
    margin-top: 65px;
}
.anchor3{
    font-size: 24px;
    font-weight: 700;
    line-height: 35px;
    text-decoration-line: underline;
    margin-top: 15px;
}
a{
    color: #272727;
}
.facilities{
    display: flex;
    flex-shrink: 0;
    margin: 128px auto 128px auto;
    width: 900px;
    height: 250px;
    border-radius: 8px;
    background: rgba(39, 39, 39, 0.05);
    justify-content: space-around;
    align-items: center;
}
.facilities, .h3{
    color: rgba(39, 39, 39, 0.80);
    text-align: center;
    font-size: 13px;
    font-weight: 600;
    line-height: 35px;
}

/* offer section styles */

.offer-section{
    width: auto;
    text-align: center;
}
.offer-container{
    display: flex;
    flex-shrink: 0;
    justify-content: space-evenly;
    align-items:center;
    padding-top: 100px;
    padding-bottom: 100px;
    border-radius: 8px;
    background: rgba(229, 84, 115, 0.05);
}
.span-off {
    color: red;
}
.offer-title{
    color: #272727;
    font-size: 40px;
    font-weight: 800;
    margin-bottom: 20px;
}
.offer-desc{
    text-align: center;
    margin-bottom: 40px;
}
.sign-btn{
    font-size: 20px;
    font-weight: 700;
    display: inline-flex;
    padding: 20px 43px;
    align-items: flex-start;
    gap: 10px;
    border: 0;
    border-radius: 8px;
    background: #E55473;
    color: #FFF;
}

/* instagram section styles */

.ig-section{
    width: auto;
    text-align: center;
}
.ig-container{
    align-items: center;
}
.ig-title{
    color: #272727;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
    padding-top: 150px;
    padding-bottom: 20px;
}
.ig-desc{
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    color: rgba(39, 39, 39, 0.60);
    padding-bottom: 20px;
}
.ig-images{
    display: flex;
    flex-shrink: 0;
    justify-content: center;
    gap: 25px;
    padding-bottom: 100px;
}

/* latest deal sections style */

.latest-deal-section{
    width: auto;
    height: 500px;
    flex-shrink: 0;
    background-image: url('../flower_assets/Rectangle\ 9.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-clip: content-box;
    object-fit: contain;
    margin: 50px 150px;
    border: 0;
    border-radius: 8px solid lightgray;
}
.subscription-container{
    display: flex;
    flex-shrink: 0;
    justify-content: center;
    align-items: center;
    gap: 15px;
 }
.deal-title{
    color: #272727;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
    padding-top: 140px;
    padding-bottom: 18px;
}
.deal-desc{ 
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    padding-bottom: 30px;
}

.subscription-container input[type="email"]{
    width: 600px;
    height: 64px;
    border: 0;
    background-color: #FFF;
    border-radius: 8px;
}
::placeholder{
    color: rgba(39, 39, 39, 0.60);
    text-align: left;
    font-size: 16px;
    font-weight: 400;
    padding-left: 20px;
}
.sub-btn{
    color: #FFF;
    width: 150px;
    height: 64px;
    flex-shrink: 0;
    font-size: 20px;
    font-weight: 700;
    border-radius: 8px;
    background: #E55473;
    background-color: none;
    border: 0;
}

/* footer section styles */

.footer-container{
    width: auto;
    height: 450px;
    flex-shrink: 0;
    background: #111010;
    align-items: center;
    margin-top: 150px;
}
.footer-title{
    color: #FFFFFF;
    font-size: 40px;
    font-weight: 800;
    text-align: center;
    padding-top: 120px;
}
.span-flower{
    color: #E55473;
}
.footer-desc{
    color: rgba(255, 255, 255, 0.90);
    font-size: 18px;
    font-weight: 400;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 30px;
}
.footer-copy{
    color: rgba(255, 255, 255, 0.40);
    text-align: center;
    font-size: 16px;
    font-weight: 400;
}